body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background: url("/static/img/form-bg.jpg");
    background-size: 1600px;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    padding-top: 100px;
    padding-left: 100px;
}

.header {
    height: 150px;
    padding: 5px 15px 10px;
}

.wrapper {
    display: flex;
}

.logoText {
    font-family: "Brush Script MT", sans-serif;
    font-size: 150px;
    color: darkorange;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.logoImg {
    height: 150px;
}

.btnR {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 1px;
}

.security {
    font-family: monospace;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.managerLink {
    color: red;
    text-align: center;
    padding-top: 5px;
}

.form-heading {
    font-size: 50px;
    padding-bottom: 30px;
    color: white;
}

.info {
    color: #fff;
    display: block;
    width: 300px;
    font-size: 17px;
}

.form-group {
    font-family: monospace;
}

.form-control {
    text-align: center;
    text-decoration: none;
    border-radius: 1000px;
    width: 200px;
    height: 30px;
}

.btn-submit {
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
    width: 80px;
}

.main-page-link {
    color: #ffffff;
    display: block;
    font-size: 17px;
}

.footer {
    font-family: monospace;
    text-align: left;
    color: white;
    position: fixed;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}