body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, #52565d, #485054, #424a4a, #3e4340, #3b3c38);
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    padding-top: 120px;
    text-align: center;
}

.form-heading {
    font-size: 50px;
    padding-bottom: 30px;
    color: white;
}

.form-group {
    font-family: monospace;
}

.form-control {
    text-align: center;
    text-decoration: none;
    border-radius: 2000px;
    width: 400px;
    height: 50px;
}

.btn-submit {
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
    width: 150px;
}

.registration {
    color: #ffffff;
    font-size: 20px;
    padding-top: 5px;
}

.link-registration {
    color: #fff;
}

.main-page-link {
    color: #ffffff;
    display: block;
}

.err {
    color:red;
    font-size: 20px;
}

.footer {
    font-family: monospace;
    text-align: left;
    color: white;
    position: fixed;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}