body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background: url("/static/img/manager-bg.jpg");
    background-size: 1500px;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.header {
    height: 150px;
    padding: 5px 15px 10px;
}

.wrapper {
    display: flex;
}

.logoText {
    font-family: "Brush Script MT", sans-serif;
    font-size: 150px;
    color: darkorange;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.logoImg {
    height: 150px;
}

.l10n {
    color: red;
    text-align: center;
}

.btnR {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 1px;
}

.security {
    font-family: monospace;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.title-tbl {
    font-size: 20px;
}

.deals {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid black;
    width: 1000px;
}

th, td {
    border: 2px solid black;
    width: 10%;
}

.main-page-link {
    color: black;
    display: block;
}

.footer {
    font-family: monospace;
    text-align: left;
    color: #fff;
    position: fixed;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}