body {
    font-family: "Brush Script MT", sans-serif;
    margin: 0;
    padding: 0;
    background: url("/static/img/log.jpg");
    background-size: 1550px;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    padding-top: 200px;
    padding-left: 100px;
}

.title {
    font-size: 20px;
    padding-bottom: 30px;
    color: white;
}

.info {
    color: #fff;
    display: block;
}

.form-registration {
    font-family: monospace;
}

.form-control {
    text-align: center;
    text-decoration: none;
    border-radius: 1000px;
    width: 200px;
    height: 30px;
}

.btn-submit {
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
    width: 100px;
}

.main-page-link {
    color: #ffffff;
    display: block;
}